{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "^(next/(.*)$)|^(next$)",
        "",
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^@/entities/(.*)$",
        "",
        "^@/features/(.*)$",
        "",
        "^@/shared/(.*)$",
        "",
        "^(?!.*[.]css$)[./].*$",
        "",
        ".*[.]css$"
    ]
}
